* {
    margin: $cero;
    padding: $cero;
    text-decoration: $none;
    list-style: $none;
    box-sizing: border-box;
    font-family: 'Trispace', sans-serif;
}

img {
    width: $cincuenta;
    height: $cincuenta;
}