// Font Family
$raleway: 'Raleway', sans-serif;
$open-sans: 'Open Sans', sans-serif;

// Font Weight
$bold: 700;
$regular: 400;

//font sizes
$xx-large: 70px;
$x-large: 40px;
$large: 20px;
$medium: 16px;
$small: 12px;